---
import MainLayout from '../layouts/MainLayout.astro';
//Server Only

const name = "Carlos alberto";
---

<MainLayout title="Index">

	<div class="">
		<h1>
			{name}
		</h1>
	
		<p>Momento actual: {new Date().toLocaleTimeString()}</p>
		<p id="realMoment"></p>
	
	</div>
	

	<script>
		//Client only
		const currentDate: string = new Date().toLocaleTimeString();
		const realMoment = document.getElementById("realMoment") as HTMLParagraphElement;

		realMoment.innerText = `Momento real: ${currentDate}`;
	</script>
</MainLayout>
		

